#### [ PYTHON & MYSQL 연동 ]

In [19]:
## 모듈 로딩
import pymysql

print(f'pymysql v.{pymysql.__version__}')

pymysql v.1.4.6

In [ ]:
## RDBMS 정보
SEVER_IP = '172.30.1.33'
USER_ID = 'user2'
USER_PW = 'user2'
DB_NAME = 'ems'
CHARSET = 'utf8mb4'

In [21]:
## =============================================================
## DB 연결
## =============================================================
conn = pymysql.connect(host=SEVER_IP,
                       user=USER_ID,
                       password=USER_PW,
                       database=DB_NAME,
                       cursorclass=pymysql.cursors.DictCursor)

In [33]:
## =============================================================
## DB - SELECT 처리
## =============================================================
ALL_DATA_SQL = 'SELECT * FROM user;'

with conn.cursor() as cursor:
    ## 모든 데이터 불러오기
    cursor.execute(ALL_DATA_SQL)
    result = cursor.fetchall()
    print(result)

[{'id': 2, 'name': '마징가', 'age': 14, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 3, 'name': '김민아', 'age': 23, 'hometown': '부산', 'address': '부산시', 'gender': '여'}, {'id': 4, 'name': '이지은', 'age': 9, 'hometown': '대구', 'address': '부산시 동래', 'gender': '여'}, {'id': 5, 'name': '박영우', 'age': 47, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 6, 'name': '김철수', 'age': 31, 'hometown': '울산', 'address': None, 'gender': '남'}, {'id': 7, 'name': '이지은', 'age': 29, 'hometown': '서울', 'address': '서울시', 'gender': '여'}, {'id': 8, 'name': '홍길동', 'age': 51, 'hometown': '서울', 'address': None, 'gender': '남'}, {'id': 9, 'name': '고길동', 'age': 20, 'hometown': '서울', 'address': '서울시 동래', 'gender': '남'}, {'id': 10, 'name': '원더우먼', 'age': 49, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 11, 'name': '김진우', 'age': 44, 'hometown': '대구', 'address': None, 'gender': '남'}, {'id': 12, 'name': '박나림', 'age': 37, 'hometown': '부산', 'address': '부산시 동래', 'gender': '여'}, {'id': 13, 'name': '장지원', 'age': 25, 'hometown': '울산', 'address': '울산시 을주', 'gender': '여'}, {'id': 14, 'name': '김동현', 'age': 31, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 15, 'name': '박지니', 'age': 60, 'hometown': '서울', 'address': None, 'gender': '여'}, {'id': 16, 'name': '김덕현', 'age': 71, 'hometown': '대구', 'address': None, 'gender': '남'}]

In [29]:
## =============================================================
## DB - INSERT 처리
## =============================================================
INSERT_DATA_SQL = "INSERT INTO user VALUES (11111, '베트맨', 23, '부산', '부산시', '여')"


with conn.cursor() as cursor:
    cursor.execute(INSERT_DATA_SQL)
    conn.commit()

In [31]:
## =============================================================
## DB - DELETE 처리
## =============================================================
DELETE_DATA_SQL = "DELETE FROM user WHERE id=%s;"


with conn.cursor() as cursor:
    cursor.execute(DELETE_DATA_SQL, (11111,))
    conn.commit()

In [32]:
## =============================================================
## DB - UPDATE 처리
## =============================================================
UPDATE_DATA_SQL = "UPDATE user SET name=%s WHERE id=%s;"


with conn.cursor() as cursor:
    cursor.execute(UPDATE_DATA_SQL, ('원더우먼',10))
    conn.commit()

In [15]:
## =============================================================
## DB 해제
## =============================================================
conn.close()