In [ ]:
import numpy as np
import pandas as pd

### 시리즈 생성 <hr>

In [162]:
## 시리즈 생성
sr1 = pd.Series([100,200,300],name='점수')
sr1

0    100
1    200
2    300
Name: 점수, dtype: int64

In [163]:
## 시리즈 추가 -> O
sr2 = pd.Series(index=['철수','영희','아름'],data=[100,200,300])
sr2

철수    100
영희    200
아름    300
dtype: int64

In [164]:
## 시리즈의 생성 (딕셔너리) -> X
sr3 = pd.Series({
    '철수':100,
    '영희':200,
    '아름':300
    })
sr3

철수    100
영희    200
아름    300
dtype: int64

In [165]:
## 시리즈 생성 -> X
index = ['삼성전자','셀트리온','카카오','삼성전자우','현대바이오']
data = [73000,356000,367000,68600,34150]
sr4 = pd.Series(data=data, index=index)
sr4

삼성전자      73000
셀트리온     356000
카카오      367000
삼성전자우     68600
현대바이오     34150
dtype: int64

In [166]:
## 인덱스 없이 시리즈에 저장된 데이터만을 출력해보세요.
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)
s.index

Index(['철수', '영희', '아름'], dtype='object')

In [167]:
## 시리즈를 딕셔너리로 변경해 보세요.
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)
s = s.to_dict()
s

{'철수': 100, '영희': 200, '아름': 300}

In [168]:
## 시리즈를 엑셀 파일(data.xlsx)에 저장해 보세요.
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)
s.to_excel('./data.xlsx')

In [169]:
## 엑셀 파일(data.xlsx)을 읽어 오세요. -> X
# 데이터를 불러오면 DF인데, 해당 컬럼을 인덱싱하면 series를 얻을 수 있음. 
pd.read_excel('./data.xlsx',index_col=0)[0]

철수    100
영희    200
아름    300
Name: 0, dtype: int64

## 시리즈 데이터 타입 <hr>

In [170]:
## 시리즈의 데이터 타입을 출력해보세요. -> X
# dtype는 ()강 없음. 메소드가 아니라 ''임
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

s.dtype

dtype('int64')

In [171]:
## 다음 시리즈의 데이터 타입은 무엇일까요? -> O
data = [  10,  "가" ]
s = pd.Series( data )
s.dtype
# 정답 : object

dtype('O')

In [172]:
## 시리즈에서 인덱스의 데이터 타입을 출력해보세요. -> O
s.index.dtype

dtype('int64')

In [173]:
## 시리즈 객체로 생성한 후 시리즈의 name 속성에 '종가'를 
# 인덱스의 name 속성에 날짜를 설정해보세요.
index = ['2020-12-11','2020-12-10','2020-12-09','2020-12-08','2020-12-07']
data = [73400,72900,73900,71700,72900]
s=pd.Series(index=index, data=data)
s.name='종가'
s.index.name='날짜'
s

날짜
2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
Name: 종가, dtype: int64

In [174]:
## 인덱스 이름을 icecream으로 변경 -> O
data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s.index.name='icecream'
s

icecream
apple     1500
banana    3000
dtype: int64

In [175]:
## 다음 시리즈 객체의 이름을 'number'로 지정하세요.
s = pd.Series(data=[1, 2, 3])
s.name = 'number'

In [176]:
## 다음 시리즈 객체를 생성하세요.
import numpy as np
pd.Series([1.0,2.0,np.nan])

0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
import pandas as pd

s = pd.Series([1, 2, 3])
s.array

<NumpyExtensionArray>
[1, 2, 3]
Length: 3, dtype: int64

In [12]:
import pandas as pd

s = pd.Series([1, 2, 3])
s.to_numpy()

array([1, 2, 3])