### 【 인덱스 다루기 - MultiIndex 】
- 기본 인덱스 
    * .set_index() <- 컬럼을 인덱스로 설정 
    * .reindex() <- 인덱스 재구성(일부 변경. 결측치 발생 가능)
    * .reset_index() <- 위치인덱스(RangeIndex)로 변경. 기존 인덱스는 컬럼 추가
    * .iloc[위치인덱스] 속성 <- 판다스에서 DataFrame/Series에 데이터가 존재하는 위치 번호 지정/정수
    * .loc[라벨인덱스] 속성 <- DataFrame/Series 생성 시 index, columns 매개변수로 지정한 인덱스들
- 멀티 인덱스
    * .xs() <- 인덱스 레벨에 따른 데이터 선택하는 메서드

[1] 모듈 로딩 및 데이터 준비<hr>

In [69]:
## 모듈 로딩 
import pandas as pd

In [70]:
## 인덱서 생성
##                                     level0         , level1 
columns_ = pd.MultiIndex.from_product([['math', 'eng'], ['mid', 'final']], 
                                      names=['subject', 'exam'])  # [level0, level1]
## DF 생성 : 2행 4열
dataDF = pd.DataFrame( [ [80, 90, 85, 95], 
                         [70, 88, 75, 93] ], 
                       columns=columns_ )

In [71]:
## 확인
display( dataDF, dataDF.index, dataDF.columns)

subject math       eng
exam     mid final mid final
0         80    90  85    95
1         70    88  75    93

RangeIndex(start=0, stop=2, step=1)

MultiIndex([('math',   'mid'),
            ('math', 'final'),
            ( 'eng',   'mid'),
            ( 'eng', 'final')],
           names=['subject', 'exam'])

In [72]:
## ======================================================
## 멀티인덱스 속성 확인
## ======================================================
mIdx = dataDF.columns

print('-------------------------------')
print(f'type(mIdx)  : {type(mIdx)}')
print(f'names       : {mIdx.names}')
print(f'levels      : {mIdx.levels}')
print(f'dtypes      : {mIdx.dtypes}')
print(f'nlevels     : {mIdx.nlevels}개')
print('-------------------------------')
print(f'levshape    : {mIdx.levshape}')
print(mIdx)

-------------------------------
type(mIdx)  : <class 'pandas.core.indexes.multi.MultiIndex'>
names       : ['subject', 'exam']
levels      : [['eng', 'math'], ['final', 'mid']]
dtypes      : subject    object
exam       object
dtype: object
nlevels     : 2개
-------------------------------
levshape    : (2, 2)
MultiIndex([('math',   'mid'),
            ('math', 'final'),
            ( 'eng',   'mid'),
            ( 'eng', 'final')],
           names=['subject', 'exam'])

[2] DF에서 인덱스관련 속성 및 메서드 다루기<hr>

In [73]:
## ======================================================
## [2-1] 열/컬럼 데이터 선택
## ======================================================
## - 전체 열이름/열인덱스로 선택
oneSR = dataDF[("math", "final")]
#print(f'\ndataDF[("math", "final")]\n{oneSR}')

## - level0번 열이름/열인덱스로 선택 => level0 동일한 모든 행 
level0 = dataDF[("math")]
#print(f'\ndataDF[("math")]\n{level0}')


## - level1번 열이름/열인덱스로 선택 => level1 동일한 모든 행 
## - 컬럼 축 방향 설정 axis=1 또는 axis='columns'
level1 = dataDF.xs("final", level=1, axis=1)
print(f'\ndataDF.xs("final", level=1, axis=1)\n{level1}')

dataDF.xs("final", level=1, axis=1)
subject  math  eng
0          90   95
1          88   93

In [74]:
## ======================================================
## [2-2] 열 추가 => 사전식 정렬 추천/성능 느려지는 것 막기 위해서
## ======================================================
## => 모든 컬럼 동일값 추가 
##     (level0, level1)
dataDF[("eng","test")]=0
dataDF

subject math       eng
exam     mid final mid final test
0         80    90  85    95    0
1         70    88  75    93    0

In [75]:
## => 모든 컬럼 다른 값 추가
##     (level0, level1)
dataDF[("math","test")]=[100, 89]
dataDF.sort_index(axis='columns')

subject   eng           math
exam    final mid test final mid test
0          95  85    0    90  80  100
1          93  75    0    88  70   89

In [ ]:
## ======================================================
## [2-3] 열/컬럼 인덱스 초기화
## ======================================================
## -> .reset_index() : 축/방향 설정 X. 행인덱스만 지원하는 메서드
## => .T 속성 : 행 => 열, 열 => 행
dataDF.T.reset_index().T

            0      1    2      3     4     5
subject  math   math  eng    eng   eng  math
exam      mid  final  mid  final  test  test
0          80     90   85     95     0   100
1          70     88   75     93     0    89

In [ ]:
## -> 특정 레벨 열 인덱스만 => 컬럼으로 
## -> .reset_index() : 축/방향 설정 X. 행인덱스만 지원하는 메서드
## => .T 속성 : 행 => 열, 열 => 행
dataDF.T.reset_index('subject').T

exam      mid final  mid final test  test
subject  math  math  eng   eng  eng  math
0          80    90   85    95    0   100
1          70    88   75    93    0    89